*{
    margin:0;
    bottom:0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom right, #8ED85F, #2AC696);
    background-size:100% 100%;
    background-attachment: fixed;
    
}

.main_div{
   width:185vh; 
   height: 100%;
   /* height: 60%; */
   margin:2% 5% 2% 5%;
   /* position:fixed; */
   background-color: #E7ECEF;
   box-shadow:0.1px 0.1px 100px 0.1px ;
   /* margin-top:100px; */
   
}

.left_nav{
    float:left;
     
}
[alt="photos_icon"]{
    margin:10px 10px 0px 10px;
    padding-top: 10px;
    padding-bottom: -30px;
}

.right_nav{
    float:right;
    margin:20px 30px 0px 10px;
}
[alt=compass-icon1], [alt=compass-icon2]
{
    padding-right: 10px;
}
.main{
    padding-top:10px;
    clear:left;
    display: flex;
    color:white;
    height:478px;
    width:auto
    /* background-color: #182D26; */
    
}

.span{
    display: flex;
    position: relative;
    flex-direction: column;
    top:-40px;
    left:180px;
}
.left{
    flex-grow: 30%;
    background-color: #11261F;
    padding:10px 20px;
}

h1{
    padding:10px;
}

.left p{
    font-size:1em;
    padding-top:2%;

}

.para{
    text-align: center;
}

.column{
    flex-grow:23.33%;
    max-width: 23.33%;
    /* overflow: hidden; */
    /* white-space: wrap;  */
    /* border: 5px solid red; */
    
}
.bg1{
    height: 33%;
    /* width: fit-content; */
}
.bg2{
    height: 33%;
    /* width: fit-content; */
}
.bg3{
    height: 33%;
}
.bg4{
    height: 50%;
    /* width: fit-content; */
}
.bg5{
    height: 50%;
    /* width: fit-content; */
}
.bg6{
    height: 33%;
    /* width:fit-content; */
}
.bg7{
    height: 33%;
}
.bg8{
    height: 33%;
    /* width:fit-content; */
}

.column img{
    width:100%;
    height:100%;
}


input[type=search]{  
    width:500px;
    border-radius: 10px;
    height:35px;
    background-image: url(images/search.png);
    background-size:22px;
    background-repeat: no-repeat;
    background-position-x:right;
    background-position-y:center;
    font-size: larger;
    padding-top:10px;

}

.overlap{
    padding-top:20px;
    margin-left:60px;
}



.overlap img{
    width:45px;
    height:45px;
    border-radius: 50%;
    margin-left:-20px;
}

img[alt=woman]{
    margin-left:0;
}

button{
    width:330px;
    height: 50px;
    background-color:#1AB27F ;
    text-align: center;
    margin-left:80px;
}

input[name=file]{
    display:none;
}

label[upload-file]{
    
}

.upload{
    margin:10px auto;
    /* margin-top:10px;  */
    padding-top: 20px;
    height:25%;
    width:80%;
    border:1px solid black;
    text-align: center;
    /* padding:50px; */
    background-color: #182D26;
}

.meta{
    display: flex;
    text-align: justify;
}
.photos img,.feedback img,.improve img{
    margin-top:12px;
    margin-left:48%;
    border-radius:14px;
    border:5px solid white;
}

.photos, .feedback, .improve{
    border-right: 15px solid #E7ECEF;
    border-left:15px solid #E7ECEF;

}

.meta h4{
    text-align: center;
    padding:8px;
}